<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Spoon Analyzer Web</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body style=" background: url('/images/back.avif') no-repeat center center fixed;">

<div class="container">
    <h1 style="color:white;margin-top:50px;justify-content: center;">🔍 Analyseur de Projet Java avec Spoon</h1>
    <form th:action="@{/analyze}" method="post">
        <label> Donner le Chemin du projet a analyser :</label><br>
        <input type="text" name="path" placeholder="/Users/.../monProjet" required>
        <br>
        <button type="submit">Analyser</button>
    </form>
</div>

</body>
</html>
